body {
    background-color: lightblue;
}
.contenedor {
    margin: auto;
    margin-top: 150px;
    background-color: white;
    max-width: 1300px;
    min-height: 500px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 25px;
    margin-left: 400px;
}
h4 {
    font-size: 35px;
    margin-left: 400px;
    position: relative;
    bottom: 20px;
    
    max-width: 230px;
    padding-left: 10px;
}
.h51 {
    font-size: 35px;
    margin-left: 450px;
    position: relative;
    bottom: 35px;
}
h5 {
    font-size: 40px;
    margin-left: 375px;
    position: relative;
    bottom: 131px;
    
}
li {
    font-size: 20px;
    font-weight: 700;
   
    margin-right: 25px;
}
input {
    margin-left: 510px;
    font-size: 20px;
    min-width: 70px;
    min-height: 30px;
    
}
.primero {
    position: relative;
    bottom: 130px;
    margin-left:470px ;
}
.clima {
    background-color: white;  
    display: inline;
    font-size: 35px;
    padding-top: 35px;
    
}
.divclima{
    margin-left: 330px;
    width: 1600px;
}

